@media screen and (max-device-width:1219px){
    body{
        background-size:inherit;
        background-repeat: no-repeat;
    }
    #shuttle{
        position: absolute;
        top: 100px;
        left: 5px;
        border-radius: 30%;
        width: 80px;
        height: 100px;
    }
}